services:
  mongodb:
    image: mongo
    container_name: mongo-db
    ports:
      - '27017:27017'
    volumes:
      - mongo:/data
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=123456

volumes:
  mongo: {}